/* Set fonts and sizes */
body {
    font-family: 'fira code', consolas, menlo;
}

#form, .messages .msg, .userlist, .channel-list-item .name {
    font-size: 12px !important;
}

/* Hide joins and parts */
#chat-container[data-current-channel="#libera"] .msg[data-type="quit"],
#chat-container[data-current-channel="#libera"] .msg[data-type="part"],
#chat-container[data-current-channel="#libera"] .msg[data-type="join"] {
    display: none;
}

/* Hide noise on mirrored channels */
#chat-container[data-current-channel="##ob-fsf"] .msg:not([data-from='ob']) {
    display: none;
}
